body {
  margin: 0;
  padding: 0;
  background-color: #00005a;
  color: #fff !important;
}

canvas {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0
}

#intro {
  background-image: url(../assets/images/intro-bg.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  z-index: 1000;
}

.intro-pic {
  border-radius: 50%;
  margin: 3vw;
}

@media screen and (max-width: 700px) {
  .intro-pic {
    margin: auto 3vw;
  }
}

.intro {
  position: absolute;
  bottom: 0;
}